{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="{% static 'CSS/estoque.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <!-- Menu Lateral -->
    <nav class="menu-lateral">
        <div class="bnt-expandir">
            <i class="bi bi-list"></i>
        </div>
        <ul>
            <li class="item-menu">
                <a href="{% url 'home' %}">
                    <span class="icon"><i class="bi bi-house"></i></span>
                    <span class="txt-link">Início</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'planilhas' %}">
                    <span class="icon"><i class="bi bi-collection"></i></span>
                    <span class="txt-link">Planilhas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-box-seam"></i></span>
                    <span class="txt-link">Estoque</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'produtos' %}">
                    <span class="icon"><i class="bi bi-cart3"></i></span>
                    <span class="txt-link">Produtos</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'vendas' %}">
                    <span class="icon"><i class="bi bi-coin"></i></span>
                    <span class="txt-link">Vendas</span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="table_materia_prima" class="table_estoque_materia_prima">
        <table class="table table-bordered" class="table">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade Atual</th>
                <th scope="col">Custo Unitario</th>
                <th scope="col">Fornecedor Preferencial</th>
                <th scope="col">Imagem</th>
                <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiais%}
                <tr >
                <th style="background-color: {% if material.em_falta %}#e74c3c{% else %}#16A085{% endif %}; color: white;" scope="row">
                    {{ material.id }}</th>
                <td style="background-color: {% if material.em_falta %}#e74c3c{% else %}#16A085{% endif %}; color: white;">
                    {{ material.nome_materia_prima }} </td>
                <td style="background-color: {% if material.em_falta %}#e74c3c{% else %}#16A085{% endif %}; color: white;">
                {{ material.estoque_atual}}</td>
                <td style="background-color: {% if material.em_falta %}#e74c3c{% else %}#16A085{% endif %}; color: white;">
                    {{ material.custo_unitario}}</td>
                <td style="background-color: {% if material.em_falta %}#e74c3c{% else %}#16A085{% endif %}; color: white;">
                    {{ material.fornecedor_preferencial}}</td>
                <td style="background-color: {% if material.em_falta %}#e74c3c{% else %}#16A085{% endif %}; color: white;">
                    {% if material.tem_imagem %}
                        <img class="img-zoom" src="{{ material.img_material.url }}" alt="Imagem" width="100" height="30">
                    {% else %}
                        <p>Sem imagem disponível</p>
                    {% endif %}
                </td>

                <td class="td_editar">
                    <button name="edit_material" class="edit_icon_material"
                    data-id="{{ material.id }}" 
                    data-nome="{{ material.nome_materia_prima }}"
                    data-unidade_medida="{{ material.unidade_medida }}"
                    data-unidade_compra="{{ material.unidade_compra }}"
                    data-custo_unitario="{{ material.custo_unitario }}"
                    data-quantidade="{{ material.estoque_atual }}"
                    data-min="{{ material.estoque_minimo }}"
                    data-max="{{ material.estoque_maximo }}"
                    data-descricao="{{ material.descricao }}"
                    data-categoria="{{ material.categoria.id }}"
                    onclick="abrirModalEditar(this)">
                    <i id="icon_edit_material" class="bi bi-pencil-square"></i>
                    </button>
                </td>
                </tr>
                {% empty %}
                <tr>
                     <td colspan="4">Nenhum Item encontrado.</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>

        <!-- Botão flutuante "+" -->
        <button id="abrirModal" class="botao-adicionar">+</button>

    <!-- Modal de Cadastro -->
        <div class="modal" id="modalCadastro">
            <div class="modal-conteudo">
                <span class="fechar" id="fecharModal">&times;</span>
                <h2>Cadastrar Novo Produto</h2>
                <form name="form_newItem" id="formCadastro" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="nome_materia_prima" id="nome-material" placeholder="Nome do Item" required />
                    <input type="number" name="estoque_atual" id="quantidade-produto" placeholder="Quantidade atual" required />
                    <input type="number" name="quantidade-min" id="quantidade-min-produto" placeholder="Quantidade Mínima" required />
                    <input type="number" name="quantidade-max" id="quantidade-max-produto" placeholder="Quantidade Máxima" required />
                    <input type="text" name="FornecedorPreferencial" id="FornecedorPreferencial" placeholder="Fornecedor Preferencial"  />
                    <textarea name="descricao" id="descricao" placeholder="Descrição"></textarea>
                    <input type="number" step="0.01" name="custo_unitario" placeholder="Valor Unitario" required>

                    <div class="category_in_form_new_material">
                    <label for="categoria-produto" style="margin-top: 10px;">Categoria do Item:</label>
                    <select name="categoria" id="categoria-produto" required>
                        {% for c in categorias %}
                        <option value="{{ c.id }}">{{ c.nome }}</option>
                        {% endfor %}  
                    </select>
                    <button type="button" id="button_new_category">+</button>
                    </div>

                    <div class="category_in_form_new_material">
                    <label for="unidade_compra" style="margin-top: 10px;">Unidade de compra:</label>
                    <select name="unidade_compra" id="unidade_compra">
                        {% for unidadeC in unidadescompra %}
                        <option value="{{ unidadeC.id }}">{{ unidadeC.nome }}</option>
                        {% endfor %}  
                    </select>
                    </div>
                    <div class="category_in_form_new_material">
                    <label for="unidade_medida" style="margin-top: 10px;">Unidade de medida:</label>
                    <select name="unidade_medida" id="unidade_medida">
                        {% for unidade in unidadesmedidas %}
                        <option value="{{ unidade.id }}">{{ unidade.nome }}</option>
                        {% endfor %}  
                    </select>
                    </div>
                    <input type="number" step="0.1" name="metragem_por_unidade" placeholder="Metragem por unidade" required>
                    

                    <label for="imagem-url" style="margin-top: 10px;">Imagem do material:</label>
                    <input type="file" name="imagem_material" id="imagem-url" accept="image/*">
                    <img id="imagem-preview" style="display:none; max-width: 100px; margin-top: 10px;" />

                    <button type="submit" name="form_newItem">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End Modal de Cadastro -->

    <!--Start modal new category-->
    <div id="backend_form_new_category">
        {% if messages %}
          {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
      {% endif %}
        <div class="form_new_category" id="form_new_category">
            <form method="POST" class="">
                {% csrf_token %}
                <span class="fechar" id="fecharModal_new_category">&times;</span>
                <input type="text"  id="new_category" name="new_category" placeholder="ex:Linha">
                <button type="submit" id="button_register_category" name="button_register_category" class="button_register_category">Registrar Categoria</button>
            </form>
        </div>
    </div>
    <!--End modal new category-->

     <!--Start modal unidade de medida-->
    <div id="backend_form_new_category">
        {% if messages %}
          {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
      {% endif %}
        <div class="form_new_category" id="form_unidade_medida">
            <form method="POST" class="">
                {% csrf_token %}
                <span class="fechar" id="fecharModal_unidade_medida">&times;</span>
                <input type="text"  id="new_category" name="new_category" placeholder="ex:Linha">
                <button type="submit" id="button_unidade_medida" name="button_unidade_medida" class="button_register_category">Registrar Categoria</button>
            </form>
        </div>
    </div>
    <!--End modal unidade de medida-->

    <!-- start security_close_modal -->
    <div class="security_close_modal">
        <div class="security_close_modal" id="select_close_modal" >
            <h3>Você quer continuar?</h3>
            <p>O produto não sera salvo!</p>
            <button id="sim">Sim</button>
            <button id="nao">Não</button>
        </div>
    </div>
    <!-- end security_close_modal -->

    <script src="{% static 'JSs/estoque.js' %}"></script>
</body>
</html>
