<html>
<head>
    <style>
        .titulo {
            color: red;
        }
    </style>
</head>
<body>
    <h1 class="titulo">Reset sua senha {{ user.nome }}</h1>
    <p>Clique no link abaixo para redefinir sua senha. Este link expira em 30 minutos:</p>
    <a href="{{ reset_link }}">Clique aqui para redefinir sua senha</a>
    <p>Se não funcioonar, por favor copie e cole este link no seu navegador:</p>
    <p><a href="{{ reset_link }}">{{ reset_link }}</a></p>
    <p>Se você não solicitou isso, ignore este e-mail.</p>
</body>
</html>